		#drop
		{
			width: 48%;
			height: 375px;
			/* box-shadow: 0px 0px 14px #151815;*/
			color: gray;
			font-size: 3em;
			font-family: arial;
			text-align: center;
			vertical-align: middle;
			float: left;
		}	
		#list
		{
			float: left;	
			width: 48%;
			height: 375px;
			border: 1px solid black;
		}
		#list a img,
		#list a p
		{
			font-family: helvetica;
			font-size: 14px;
			float: left;
			color: gray;
		}
		#drop, #list
		{
			margin-top: 45px;
			border: 3px dashed rgba(102, 102, 102, 0.24);
			border-radius: 10px;
		}
		#status
		{
			width: 1000px;
			height: 200px;
			border: 1px solid black;
			margin: auto;
			float: left;
		}
		img
		{
			width: 75px;
			height: 75px;	
		}
		#droptext
		{
			width: 100%;
			height: 100%;
			
		}
		
		#circleArea { width: 60%; height: 100%; }
		#fileList { left: 0px; }
		#userList { right: 0px; }
		.sideBar { width: 20%; height: 100%; position: absolute; }
		.floating { position: absolute; }
		#addCircle { top: 0px; right: 20%; }
		#options: { bottom: 0px; left: 0px; }